@import url(http://fonts.googleapis.com/css?family=PT+Sans:700&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

a { text-decoration: none; }

body, a { font-family: helv-l, Arial, Helvetica, sans-serif; font-size: 24px; color: #5c5c5c; }

.wrap { width: 100%; height: 100%; *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.container { margin: 0 auto; width: 1060px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.text-light, .benef .benef__title, .advert .advert__title, .note .note__title, .footer .title, .footer .foter__label-title, .footer .foter__label-text, .important, .business .business__text, .social .social__info, .title-small, .btn { color: white; color: rgba(255, 255, 255, 0.8); }

.text-dark, .make .make__content, .title, .gallery .gallery__area, .gallery .gallery__price { color: #5c5c5c; }

.img-out { overflow: hidden; display: block; position: relative; }

.social a { font-family: "PT Sans", sans-serif; font-weight: 700; }

.asd { background: #edeae7; }
.asd .asd__in { width: 1060px; margin: 0 auto; min-height: 600px; }

.logo { position: relative; }
.logo.animated .logo__title1 { -moz-animation: 3s 1s title1 forwards ease-in; -webkit-animation: 3s 1s title1 forwards ease-in; -moz-animation: 3s 1s title1 forwards ease-in; -ms-animation: 3s 1s title1 forwards ease-in; -o-animation: 3s 1s title1 forwards ease-in; animation: 3s 1s title1 forwards ease-in; }
.logo.animated .logo__title2 { -moz-animation: 3s 1s title2 forwards ease-in; -webkit-animation: 3s 1s title2 forwards ease-in; -moz-animation: 3s 1s title2 forwards ease-in; -ms-animation: 3s 1s title2 forwards ease-in; -o-animation: 3s 1s title2 forwards ease-in; animation: 3s 1s title2 forwards ease-in; }
.logo img { width: auto !important; height: auto !important; }
.logo .logo__title1 { width: 169px; height: 40px; background: url(../img/logo-title1.png); position: absolute; top: 50px; left: -30px; }
.logo .logo__title2 { width: 115px; height: 39px; background: url(../img/logo-title2.png); position: absolute; top: 100px; right: 290px; }
.logo .logo__logo { width: 520px; height: 359px; background: url(../img/logo.png); display: inline-block; }

.tech__line .tech__line-text { top: -65px !important; }
.tech__line .tech__line-text2 { left: 237px !important; }
.tech__line .tech__line-text3 { left: 390px !important; }
.tech__line .tech__line-text4 { left: 480px !important; }
.tech__line .tech__line-text5 { left: 651px !important; }
.tech__line .tech__line-text6 { left: 802px !important; }

.timeline { margin-bottom: 50px; }
.timeline.timeline_big { width: 920px; margin: 0 auto; }
.timeline.timeline_big .history-wrap_3 { width: 44px; }
.timeline.timeline_big .history-wrap_4 { width: 86px; }
.timeline.timeline_mini { width: 750px; margin: 0 auto; }
.timeline.timeline_mini .timeline__year1 { left: 0; }
.timeline.timeline_mini .timeline__year2 { left: 140px; }
.timeline.timeline_mini .timeline__year3 { left: 330px; right: auto; }
.timeline.timeline_mini .timeline__year4 { right: 180px; left: auto; margin-left: 0; }
.timeline.timeline_mini .timeline__year5 { right: 0; }
.timeline.timeline_mini .timeline__year5:hover .history-wrap_5 { left: auto !important; right: 58px !important; width: 112px; }
.timeline.timeline_mini .timeline__meta1 { left: 0; }
.timeline.timeline_mini .timeline__meta2 { left: 100px; }
.timeline.timeline_mini .timeline__meta3 { left: 306px; right: auto; }
.timeline.timeline_mini .timeline__meta4 { right: 180px; left: auto; margin-left: 0; }
.timeline.timeline_mini .timeline__meta5 { right: 0; }
.timeline.timeline_mini .history-wrap_2 { width: 127px; }
.timeline.timeline_mini .history-wrap_3 { width: 110px; }
.timeline.timeline_mini .history-wrap_4 { width: 116px; }
.timeline .timeline__meta { height: 65px; line-height: 65px; position: relative; font-size: 18px; color: rgba(0, 0, 0, 0.8); }
.timeline .timeline__metabig { font-size: 28px; }
.timeline .timeline__meta1 { position: absolute; top: 0; left: 0; }
.timeline .timeline__meta2 { position: absolute; top: 0; left: 170px; }
.timeline .timeline__meta3 { position: absolute; top: 0; left: 320px; }
.timeline .timeline__meta4 { width: 100px; position: absolute; top: 0; left: 50%; margin-left: -50px; }
.timeline .timeline__meta5 { position: absolute; top: 0; right: 320px; }
.timeline .timeline__meta6 { position: absolute; top: 0; right: 170px; }
.timeline .timeline__meta7 { position: absolute; top: 0; right: 0; }
.timeline .timeline__in { position: relative; }
.timeline .timeline__line { width: 100%; height: 9px; margin-top: 17px; background-image: url('../img/i-line.png?1408306413'); }
.timeline .timeline__year { width: 46px; height: 46px; border-radius: 50%; background: #6c207f; border: 10px solid #edeae7; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; position: absolute; top: -30px; }
.timeline .timeline__year:hover { background: #ee2e24; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.timeline .timeline__year:hover .history-wrap { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.timeline .timeline__year1 { left: -5px; }
.timeline .timeline__year1:hover .history-wrap_1 { left: 55px; }
.timeline .timeline__year2 { left: 143px; }
.timeline .timeline__year2:hover .history-wrap_2 { left: 55px; }
.timeline .timeline__year3 { left: 298px; }
.timeline .timeline__year3:hover .history-wrap_3 { left: 55px; }
.timeline .timeline__year4 { left: 50%; margin-left: -50px; }
.timeline .timeline__year4:hover .history-wrap_4 { left: 55px; }
.timeline .timeline__year5 { right: 294px; }
.timeline .timeline__year5:hover .history-wrap_5 { left: 55px; }
.timeline .timeline__year6 { right: 143px; }
.timeline .timeline__year6:hover .history-wrap_6 { left: 55px; }
.timeline .timeline__year7 { right: -5px; }
.timeline .timeline__year7:hover .history-wrap_7 { left: auto; right: 55px; }

.history-wrap { display: inline-block; position: relative; font-size: 0; position: absolute; top: 16px; left: -20px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.history-wrap .history-wrap_align { text-align: center; }
.history-wrap .history-wrap_align .myhistory { display: inline-block; }
.history-wrap.history-wrap_1 { width: 83px; }
.history-wrap.history-wrap_1 .history_1 { position: absolute; left: 10px; }
.history-wrap.history-wrap_1 .history_2 { left: 30px; }
.history-wrap.history-wrap_1 .history_3 { left: 50px; }
.history-wrap.history-wrap_1 .history_4 { left: 70px; }
.history-wrap.history-wrap_2 { width: 93px; }
.history-wrap.history-wrap_3 { width: 120px; }
.history-wrap.history-wrap_4 { width: 158px; }
.history-wrap.history-wrap_5 { width: 85px; }
.history-wrap.history-wrap_6 { width: 85px; }
.history-wrap.history-wrap_7 { width: 85px; left: auto; right: -20px; }

.myhistory { display: inline-block; width: 16px; height: 16px; margin-left: 6px; border-radius: 50%; background: white; position: relative; }
.myhistory:hover:before { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; background: #ee2e24; z-index: 9999; }
.myhistory:first-child { margin-left: 0; }
.myhistory:before { content: ""; width: 10px; height: 10px; border-radius: 50%; background: white; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; position: absolute; top: 3px; left: 3px; }

.timelinecontent-wrap { min-height: 140px; position: relative; }
.timelinecontent-wrap.timelinecontent-wrap_big { min-height: 240px; }

.timelinecontent { position: absolute; top: 0; left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.timelinecontent.is-show { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }

.cycle__line .cycle__line-bottom-1 { left: 220px !important; }
.cycle__line .cycle__line-bottom-2 { left: 375px !important; }
.cycle__line .cycle__line-bottom-3 { left: 557px !important; }
.cycle__line .cycle__line-bottom-4 { left: 750px !important; }

.cycle__text .ico { position: absolute !important; top: -12px !important; right: 233px !important; }

.ico2 { background: url('../img/icons-sa16fe7a808.png') 0 -2990px no-repeat; width: 81px; height: 68px; }

.ico3 { background: url('../img/icons-sa16fe7a808.png') 0 -2581px no-repeat; width: 55px; height: 95px; }

.ico4 { background: url('../img/icons-sa16fe7a808.png') 0 -2474px no-repeat; width: 63px; height: 97px; }

.ico5 { background: url('../img/icons-sa16fe7a808.png') 0 -2391px no-repeat; width: 71px; height: 73px; }

@-webkit-keyframes title1 { from { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to { -webkit-transform: translate3d(120px, 0, 0); -moz-transform: translate3d(120px, 0, 0); -ms-transform: translate3d(120px, 0, 0); -o-transform: translate3d(120px, 0, 0); transform: translate3d(120px, 0, 0); } }

@-moz-keyframes title1 { from { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to { -webkit-transform: translate3d(120px, 0, 0); -moz-transform: translate3d(120px, 0, 0); -ms-transform: translate3d(120px, 0, 0); -o-transform: translate3d(120px, 0, 0); transform: translate3d(120px, 0, 0); } }

@keyframes title1 { from { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to { -webkit-transform: translate3d(120px, 0, 0); -moz-transform: translate3d(120px, 0, 0); -ms-transform: translate3d(120px, 0, 0); -o-transform: translate3d(120px, 0, 0); transform: translate3d(120px, 0, 0); } }

@-webkit-keyframes title2 { from { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to { -webkit-transform: translate3d(-120px, 0, 0); -moz-transform: translate3d(-120px, 0, 0); -ms-transform: translate3d(-120px, 0, 0); -o-transform: translate3d(-120px, 0, 0); transform: translate3d(-120px, 0, 0); } }

@-moz-keyframes title2 { from { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to { -webkit-transform: translate3d(-120px, 0, 0); -moz-transform: translate3d(-120px, 0, 0); -ms-transform: translate3d(-120px, 0, 0); -o-transform: translate3d(-120px, 0, 0); transform: translate3d(-120px, 0, 0); } }

@keyframes title2 { from { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to { -webkit-transform: translate3d(-120px, 0, 0); -moz-transform: translate3d(-120px, 0, 0); -ms-transform: translate3d(-120px, 0, 0); -o-transform: translate3d(-120px, 0, 0); transform: translate3d(-120px, 0, 0); } }

.ico { display: inline-block; vertical-align: middle; }

.i-twit { background: url('../img/icons-sa16fe7a808.png') 0 -4430px no-repeat; width: 16px; height: 14px; }

.i-fb { background: url('../img/icons-sa16fe7a808.png') 0 -3414px no-repeat; width: 9px; height: 16px; }

.i-vk { background: url('../img/icons-sa16fe7a808.png') 0 -3342px no-repeat; width: 11px; height: 14px; }

.i-google { background: url('../img/icons-sa16fe7a808.png') 0 -3258px no-repeat; width: 18px; height: 16px; }

.i-class { background: url('../img/icons-sa16fe7a808.png') 0 -3284px no-repeat; width: 11px; height: 18px; }

.i-pen { background: url('../img/icons-sa16fe7a808.png') 0 -4268px no-repeat; width: 51px; height: 13px; }

.i-work { background: url('../img/icons-sa16fe7a808.png') 0 -3569px no-repeat; width: 60px; height: 30px; }

.i-cap { background: url('../img/icons-sa16fe7a808.png') 0 -3955px no-repeat; width: 48px; height: 27px; }

.i-car { background: url('../img/icons-sa16fe7a808.png') 0 -3691px no-repeat; width: 56px; height: 31px; }

.i-down { background: url('../img/icons-sa16fe7a808.png') 0 -4358px no-repeat; width: 24px; height: 17px; }

.i-panel { background: url('../img/icons-sa16fe7a808.png') 0 -950px no-repeat; width: 234px; height: 182px; }

.i-mater { background: url('../img/icons-sa16fe7a808.png') 0 -1403px no-repeat; width: 182px; height: 182px; }

.i-car-label { background: url('../img/icons-sa16fe7a808.png') 0 -1595px no-repeat; width: 182px; height: 182px; }

.i-air { background: url('../img/icons-sa16fe7a808.png') 0 -1211px no-repeat; width: 182px; height: 182px; }

.i-sema { background: url('../img/icons-sa16fe7a808.png') 0 -2035px no-repeat; width: 86px; height: 24px; }

.i-discount { background: url('../img/icons-sa16fe7a808.png') 0 -3068px no-repeat; width: 62px; height: 82px; }

.i-bolt { background: url('../img/icons-sa16fe7a808.png') 0 -3777px no-repeat; width: 44px; height: 95px; }

.i-sberbank { background: url('../img/icons-sa16fe7a808.png') 0 -68px no-repeat; width: 206px; height: 52px; }

.i-rosbank { background: url('../img/icons-sa16fe7a808.png') 0 0 no-repeat; width: 256px; height: 58px; }

.i-top { background: url('../img/icons-sa16fe7a808.png') 0 -4331px no-repeat; width: 24px; height: 17px; }

.i-chlor { background: url('../img/icons-sa16fe7a808.png') 0 -4291px no-repeat; width: 48px; height: 30px; }

.i-car-other { background: url('../img/icons-sa16fe7a808.png') 0 -3650px no-repeat; width: 56px; height: 31px; }

.i-drill { background: url('../img/icons-sa16fe7a808.png') 0 -4180px no-repeat; width: 46px; height: 38px; }

.i-chlor-dark { background: url('../img/icons-sa16fe7a808.png') 0 -4228px no-repeat; width: 48px; height: 30px; }

.i-garant { background: url('../img/icons-sa16fe7a808.png') 0 -3516px no-repeat; width: 46px; height: 43px; }

.i-car-dark { background: url('../img/icons-sa16fe7a808.png') 0 -3609px no-repeat; width: 56px; height: 31px; }

.i-download { background: url('../img/icons-sa16fe7a808.png') 0 -4385px no-repeat; width: 27px; height: 35px; }

.i-drill-light { background: url('../img/icons-sa16fe7a808.png') 0 -3732px no-repeat; width: 43px; height: 35px; }

.i-car-mod { background: url('../img/icons-sa16fe7a808.png') 0 -3366px no-repeat; width: 68px; height: 38px; }

.i-stuff { background: url('../img/icons-sa16fe7a808.png') 0 -3480px no-repeat; width: 118px; height: 26px; }

.i-stuff-big { background: url('../img/icons-sa16fe7a808.png') 0 -3440px no-repeat; width: 152px; height: 30px; }

.i-sert { background: url('../img/icons-sa16fe7a808.png') 0 -2686px no-repeat; width: 31px; height: 25px; }

.i-circle { background: url('../img/icons-sa16fe7a808.png') 0 -130px no-repeat; width: 101px; height: 101px; }

.i-circle-2 { background: url('../img/icons-sa16fe7a808.png') 0 -2293px no-repeat; width: 88px; height: 88px; }

.i-circle-3 { background: url('../img/icons-sa16fe7a808.png') 0 -241px no-repeat; width: 101px; height: 101px; }

.i-glunz { background: url('../img/icons-sa16fe7a808.png') 0 -2721px no-repeat; width: 51px; height: 51px; }

.i-car-else { background: url('../img/icons-sa16fe7a808.png') 0 -3882px no-repeat; width: 45px; height: 26px; }

.i-knauf { background: url('../img/icons-sa16fe7a808.png') 0 -1979px no-repeat; width: 144px; height: 46px; }

.i-type-1 { background: url('../img/icons-sa16fe7a808.png') 0 -4129px no-repeat; width: 15px; height: 15px; }

.i-type-2 { background: url('../img/icons-sa16fe7a808.png') 0 -4154px no-repeat; width: 16px; height: 16px; }

.i-type-3 { background: url('../img/icons-sa16fe7a808.png') 0 -4052px no-repeat; width: 14px; height: 14px; }

.i-cap-light { background: url('../img/icons-sa16fe7a808.png') 0 -3918px no-repeat; width: 48px; height: 27px; }

.i-battery { background: url('../img/icons-sa16fe7a808.png') 0 -4076px no-repeat; width: 85px; height: 43px; }

.i-eko { background: url('../img/icons-sa16fe7a808.png') 0 -3160px no-repeat; width: 89px; height: 88px; }

.i-eleph { background: url('../img/icons-sa16fe7a808.png') 0 -620px no-repeat; width: 210px; height: 320px; }

.i-fire { background: url('../img/icons-sa16fe7a808.png') 0 -2782px no-repeat; width: 89px; height: 100px; }

.i-jeep { background: url('../img/icons-sa16fe7a808.png') 0 -352px no-repeat; width: 357px; height: 258px; }

.i-ng { background: url('../img/icons-sa16fe7a808.png') 0 -1142px no-repeat; width: 199px; height: 59px; }

.i-rat { background: url('../img/icons-sa16fe7a808.png') 0 -2892px no-repeat; width: 98px; height: 88px; }

.i-term { background: url('../img/icons-sa16fe7a808.png') 0 -3992px no-repeat; width: 23px; height: 50px; }

@font-face { font-family: "helv"; src: url('../fonts/HelveticaNeue.eot'); src: url('../fonts/HelveticaNeue.eot?#iefix') format('eot'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue.svg') format('svg'), url('../fonts/HelveticaNeue.woff') format('woff'); font-weight: "HelveticaNeue.eot?#iefix"; }

@font-face { font-family: "helv-b"; src: url('../fonts/HelveticaNeueBold.eot'); src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('eot'), url('../fonts/HelveticaNeueBold.ttf') format('truetype'), url('../fonts/HelveticaNeueBold.svg') format('svg'), url('../fonts/HelveticaNeueBold.woff') format('woff'); font-weight: "HelveticaNeueBold.eot?#iefix"; }

@font-face { font-family: "helv-l"; src: url('../fonts/HelveticaNeueLight.eot'); src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('eot'), url('../fonts/HelveticaNeueLight.ttf') format('truetype'), url('../fonts/HelveticaNeueLight.svg') format('svg'), url('../fonts/HelveticaNeueLight.woff') format('woff'); font-weight: "HelveticaNeueLight.eot?#iefix"; }

/*-----header------------------------------------------------ */
.header { height: 47px; line-height: 47px; background-color: #666666; }

/*-----tooper------------------------------------------------ */
.topper { background-color: #edeae7; padding: 40px 0 50px; }
.topper .container { *zoom: 1; }
.topper .container:after { content: " "; display: table; clear: both; }
.topper .title { margin-bottom: 60px; }

/*-----benef------------------------------------------------ */
.benef { background-image: url('../img/home-bg.jpg?1408306413'); text-align: center; padding: 35px 0 55px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.benef .btn { margin-bottom: 25px; }
.benef .title { margin-bottom: 70px; }
.benef .benef__title { font-family: helv, Arial, Helvetica, sans-serif; font-size: 36px; }

/*-----advert------------------------------------------------ */
.advert { height: 73px; line-height: 73px; background-color: #ee2e24; }
.advert .advert__title { text-align: center; font-size: 36px; }

/*-----make------------------------------------------------ */
.make { background-color: #edeae7; padding: 55px 0 75px; }
.make .container { padding: 0; }
.make .title-big { margin-bottom: 23px; }
.make .title { margin-bottom: 35px; }
.make .make__bottom { *zoom: 1; }
.make .make__bottom:after { content: " "; display: table; clear: both; }
.make .make__home { width: 415px; margin: 0 auto; padding-top: 20px; }
.make .make__home img { width: 100%; height: auto; }
.make .make__left, .make .make__right { height: 255px; width: 255px; background-color: white; text-align: center; display: table; -webkit-border-radius: 128px; -moz-border-radius: 128px; -ms-border-radius: 128px; -o-border-radius: 128px; border-radius: 128px; }
.make .make__left { float: left; }
.make .make__right { float: right; }
.make .make__content { width: 220px; margin: 0 auto; display: table-cell; vertical-align: middle; }
.make .make__number { color: #ee2e24; font-size: 36px; line-height: 36px; font-family: helv, Arial, Helvetica, sans-serif; margin-bottom: 10px; }
.make .make__text { line-height: 30px; }
.make .make__text-small { font-size: 16px; line-height: 20px; padding: 0 40px; margin-bottom: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.make .make__text-big { font-size: 26px; line-height: 30px; }
.make .ico { margin-bottom: 15px; }

/*-----note------------------------------------------------ */
.note { height: 75px; line-height: 75px; background-color: #6c207f; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.note .note__title { text-align: center; font-size: 24px; font-weight: normal; }
.note .container { position: relative; }
.note .i-discount { position: absolute; top: -30px; left: 140px; }

/*-----cycle------------------------------------------------ */
.cycle { background-image: url('../img/bg.jpg?1408306413'); text-align: center; padding: 55px 0 75px; background-position: 50% 100%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.cycle .title-big { margin-bottom: 10px; }
.cycle .title { margin-bottom: 55px; }
.cycle .btn { padding: 0 25px; margin-bottom: 62px; }
.cycle .cycle__text { position: relative; text-align: left; padding: 0 300px 0 195px; margin-bottom: 140px; }
.cycle .cycle__text-title { position: relative; font-weight: normal; font-family: helv-b, Arial, Helvetica, sans-serif; font-size: 18px; line-height: 10px; padding: 0 23px; margin-bottom: 27px; }
.cycle .cycle__text-title:after { position: absolute; content: ""; top: 0px; left: 2px; background-color: #ee2e24; height: 10px; width: 10px; display: inline-block; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.cycle .cycle__text-content { font-size: 14px; line-height: 18px; font-family: helv, Arial, Helvetica, sans-serif; }
.cycle .cycle__line { position: relative; padding-right: 20px; }
.cycle .cycle__line-top { position: absolute; top: -55px; font-size: 28px; }
.cycle .cycle__line-top-1 { left: 110px; }
.cycle .cycle__line-top-2 { left: 215px; }
.cycle .cycle__line-top-3 { left: 427px; }
.cycle .cycle__line-top-4 { left: 672px; }
.cycle .cycle__line-top-5 { left: 844px; }
.cycle .cycle__line-bottom { position: absolute; bottom: -45px; font-family: helv-b, Arial, Helvetica, sans-serif; font-size: 18px; }
.cycle .cycle__line-bottom-1 { left: 177px; }
.cycle .cycle__line-bottom-2 { left: 318px; }
.cycle .cycle__line-bottom-3 { left: 537px; }
.cycle .cycle__line-bottom-4 { left: 775px; }
.cycle .i-bolt { position: absolute; top: -12px; right: 233px; }

/*-----credit------------------------------------------------ */
.credit { height: 50px; background-color: white; padding: 35px 0 30px; border-bottom: 1px solid #ece8e5; *zoom: 1; }
.credit:after { content: " "; display: table; clear: both; }
.credit .credit__left { float: left; }
.credit .credit__right { float: right; }
.credit .credit__title { font-size: 28px; width: 300px; margin: 0 auto; }
.credit .container { padding: 0 60px; }
.credit .i-rosbank { margin-top: -10px; }
.credit .i-sberbank { margin-left: 50px; }

/*-----history------------------------------------------------ */
.history { padding: 30px 0 20px; text-align: center; }
.history .title-big { margin-bottom: 5px; }
.history .title { margin-bottom: 45px; }
.history .history__gallery { padding: 0 50px; margin-bottom: 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.history .history__gallery:after { content: " "; display: table; clear: both; }
.history .history__gallery .btn { width: 140px; height: 45px; position: absolute; top: 150%; margin-top: -22.5px; left: 50%; margin-left: -70px; }
.history img { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.history .img-out { width: 100%; vertical-align: top; text-align: left; }
.history .img-out:hover img { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.history .img-out:hover .btn { top: 50%; }
.history .history__left { float: left; width: 60%; }
.history .history__right { float: right; width: 38%; }
.history .history__left-top { height: 330px; margin-bottom: 25px; width: 100%; }
.history .history__left-bottom { *zoom: 1; }
.history .history__left-bottom:after { content: " "; display: table; clear: both; }
.history .history__left-bottom-left { width: 49%; float: left; height: 356px; line-height: 356px; }
.history .history__left-bottom-right { width: 49%; float: right; }
.history .history__left-bottom-right-top { height: 200px; line-height: 200px; margin-bottom: 10px; }
.history .history__left-bottom-right-bottom { height: 146px; line-height: 146px; }
.history .history__right-top { height: 240px; line-height: 240px; margin-bottom: 30px; }
.history .history__right-middle { height: 140px; line-height: 140px; margin-bottom: 30px; background-color: #edeae7; display: inline-block; }
.history .history__right-middle:hover .btn-watch { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.history .history__right-middle span { margin-left: 130px; font-size: 20px; }
.history .history__right-bottom { height: 271px; line-height: 271px; }
.history .btn-watch { position: absolute; top: 28px; left: 28px; display: inline-block; background: url('../img/icons-sa16fe7a808.png') 0 -2069px no-repeat; width: 83px; height: 83px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.history .history__photo { display: inline-block; position: relative; }
.history .history__photo-info { position: absolute; top: 8px; right: 88px; width: 180px; font-family: helv-b, Arial, Helvetica, sans-serif; font-size: 18px; text-align: left; }
.history .history__photo-text { position: absolute; bottom: 33px; width: 100%; left: 0; }
.history .history__photo-text span { font-size: 24px; }

/*-----tour------------------------------------------------ */
.tour { background-color: #edeae7; padding: 30px 0 35px; }
.tour .title-big { margin-bottom: 10px; }
.tour .title { margin-bottom: 35px; }
.tour .tour__info { *zoom: 1; }
.tour .tour__info:after { content: " "; display: table; clear: both; }
.tour .tour__info li { width: 32%; margin-left: 2%; float: left; text-align: center; }
.tour .tour__info li:first-child { margin-left: 0; }
.tour .tour__pic { overflow: hidden; display: inline-block; height: 270px; width: 270px; background-color: white; margin-bottom: 50px; position: relative; -webkit-border-radius: 135px; -moz-border-radius: 135px; -ms-border-radius: 135px; -o-border-radius: 135px; border-radius: 135px; }
.tour .tour__pic img { width: auto; height: 100%; }
.tour .btn-big { margin-bottom: 75px; margin-top: 15px; }
.tour .tour__text { font-family: helv-b, Arial, Helvetica, sans-serif; font-size: 18px; line-height: 24px; }
.tour .contact { margin-top: 5px; }

/*-----footer------------------------------------------------ */
.footer { background-color: #666666; padding: 20px 0 60px; }
.footer .container { width: 880px; }
.footer .title { margin-bottom: 30px; }
.footer .footer__other { display: table; table-layout: fixed; width: 100%; margin-bottom: 35px; }
.footer .footer__label { display: table-cell; background-color: #727272; padding: 35px 15px 40px; text-align: center; -webkit-border-radius: 60px; -moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.footer .footer__label-help { background-color: transparent; width: 220px; }
.footer .foter__label-title { font-size: 30px; margin-bottom: 15px; font-weight: normal; }
.footer .foter__label-text { font-size: 14px; line-height: 18px; margin-bottom: 15px; }
.footer .ico { margin-bottom: 10px; }
.footer .title-small { margin-bottom: 15px; }

/*------panel---------------------------------------------------------- */
.panel { background-color: #edeae7; background-image: url('../img/bg-2.jpg?1408306413'); padding: 25px 0 17px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.panel .container { text-align: center; }
.panel .title { margin-bottom: 45px; }
.panel .panel__block { *zoom: 1; }
.panel .panel__block:after { content: " "; display: table; clear: both; }
.panel .panel__left, .panel .panel__right { float: left; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.panel .panel__left { width: 60%; padding-left: 205px; position: relative; }
.panel .panel__right { width: 40%; }
.panel .resume { position: absolute; top: 145px; right: 13px; width: 120px; }
.panel .panel__service { padding-top: 25px; }
.panel .panel__service-roll { *zoom: 1; margin-bottom: 45px; }
.panel .panel__service-roll:after { content: " "; display: table; clear: both; }
.panel .panel__service-ico { display: inline-block; float: left; width: 73px; text-align: right; }
.panel .panel__service-text { float: left; padding-left: 18px; width: 300px; }
.panel .panel__service-text .resume { position: static; width: 200px; margin-top: 7px; }

/*-----instr----------------------------------------------------------- */
.instr { background-color: #ee2e24; height: 72px; line-height: 72px; }
.instr .container { *zoom: 1; }
.instr .container:after { content: " "; display: table; clear: both; }
.instr .btn { float: left; margin-top: 10px; margin-left: 350px; }
.instr .instr__text { float: left; font-size: 24px; line-height: 24px; color: #ece9e6; margin-left: 25px; width: 300px; margin-top: 12px; }

/*-----delivery----------------------------------------------------------- */
.delivery { padding: 35px 0 40px; }
.delivery .i-car-mod { margin-right: 15px; }
.delivery .title-big { margin-bottom: 5px; }
.delivery .title { margin-bottom: 25px; }
.delivery .delivery__note { width: 800px; margin: 0 auto; margin-bottom: 100px; }
.delivery .delivery__roll { margin-bottom: 40px; *zoom: 1; }
.delivery .delivery__roll:after { content: " "; display: table; clear: both; }
.delivery .delivery__item { float: left; width: 32%; margin-left: 2%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.delivery .delivery__item:first-child { margin-left: 0; }
.delivery .delivery__item:hover .delivery__label { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
.delivery .delivery__article { font-family: arial; font-size: 20px; color: black; margin-bottom: 5px; padding-left: 5px; }
.delivery .delivery__text { font-family: arial; font-size: 13px; line-height: 17px; color: black; padding-left: 5px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
.delivery .btn-light { margin-bottom: 25px; }
.delivery .delivery__img { margin-bottom: 25px; }
.delivery .delivery__label { position: absolute; top: 0; left: 32%; height: 105px; width: 105px; display: inline-block; background-color: #6c207f; text-align: center; padding-top: 23px; overflow: hidden; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; -webkit-border-radius: 52.5px; -moz-border-radius: 52.5px; -ms-border-radius: 52.5px; -o-border-radius: 52.5px; border-radius: 52.5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
.delivery .delivery__label .ico { margin-top: 6px; margin-bottom: 6px; }
.delivery .delivery__label-text { font-family: arial; font-weight: bold; line-height: 10px; font-size: 9px; color: #efebe9; text-transform: uppercase; }
.delivery .delivery__size { margin-bottom: 80px; }
.delivery .delivery__size .title { margin-bottom: 60px; }
.delivery .delivery__size-roll { padding-left: 130px; margin-bottom: 15px; *zoom: 1; }
.delivery .delivery__size-roll:after { content: " "; display: table; clear: both; }
.delivery .delivery__size-prof { float: left; font-family: arial; font-size: 20px; color: black; width: 40%; }
.delivery .delivery__size-img { float: left; width: 25%; }
.delivery .delivery__size-img .ico { vertical-align: top; }
.delivery .delivery__size-content { float: left; width: 25%; font-family: arial; font-size: 9px; font-weight: bold; line-height: 14px; color: black; *zoom: 1; }
.delivery .delivery__size-content:after { content: " "; display: table; clear: both; }
.delivery .delivery__size-content .i-sert { float: left; margin-right: 10px; }
.delivery .delivery__phone { font-family: helv-b, Arial, Helvetica, sans-serif; font-size: 28px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.delivery .delivery__phone:hover { text-decoration: underline; color: black; }
.delivery .delivery__form { width: 640px; display: block; margin: 0 auto; *zoom: 1; }
.delivery .delivery__form:after { content: " "; display: table; clear: both; }
.delivery .delivery__form .input, .delivery .delivery__form .btn { float: left; width: 32%; margin-left: 2%; }
.delivery .delivery__form .input:first-child { margin-left: 0; }

/*-----upgrade----------------------------------------------------------- */
.upgrade { padding: 50px 0 65px 0; background-color: #edeae7; text-align: center; }
.upgrade .upgrade__img { margin-bottom: 35px; }
.upgrade .title-big { margin-bottom: 5px; }
.upgrade .title { margin-bottom: 45px; }
.upgrade .upgrade__text { font-size: 18px; line-height: 26px; padding: 0 140px; font-family: arial; margin-bottom: 30px; }
.upgrade .upgrade__menu { display: table; border-collapse: collapse; width: 70%; margin: 0 auto; }
.upgrade .upgrade__menu li { display: table-cell; text-align: center; }
.upgrade .upgrade__menu a { font-size: 28px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.upgrade .upgrade__menu a:hover { text-decoration: underline; color: black; }

/*-----line----------------------------------------------------------- */
.line { padding: 40px 0 75px; }
.line .container { width: 1160px; }
.line .title-big { margin-bottom: 10px; }
.line .title { margin-bottom: 45px; }
.line .line__content { *zoom: 1; }
.line .line__content:after { content: " "; display: table; clear: both; }
.line .line__content .line__content-small, .line .line__content .line__content-big { float: left; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.line .line__content .line__content-small { width: 30%; }
.line .line__content .line__content-small .title { margin-bottom: 30px; }
.line .line__content .line__content-big { width: 40%; *zoom: 1; }
.line .line__content .line__content-big:after { content: " "; display: table; clear: both; }
.line .line__content .line__content-big .line__content-about { display: inline-block; float: right; width: 315px; margin-top: 30px; line-height: 18px; }
.line .line__content .line__content-big .line__content-img { margin-bottom: 30px; }
.line .line__content .line__content-big .title { margin-bottom: 20px; }
.line .line__content .line__content-big .line__content-text { margin-bottom: 20px; }
.line .line__content-top { text-align: left; padding-left: 40px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.line .line__content-about { font-family: arial; font-weight: bold; font-size: 9px; color: black; margin-left: 5px; }
.line .line__content-text { font-size: 14px; line-height: 18px; padding: 0 30px; margin-bottom: 30px; }
.line .btn-light { margin-bottom: 10px; }
.line .line__content-plus { font-family: arial; font-size: 9px; font-weight: bold; line-height: 17px; color: black; }
.line .line__content-img { margin-bottom: 25px; }
.line .line__more { margin-bottom: 35px; *zoom: 1; }
.line .line__more:after { content: " "; display: table; clear: both; }
.line .line__more-left { float: left; text-align: left; width: 165px; font-size: 9px; line-height: 17px; color: black; font-family: arial; font-weight: bold; position: relative; margin-left: 35px; }
.line .line__more-left:after { position: absolute; content: ""; top: 1px; left: -20px; background-color: #ee2e24; height: 13px; width: 13px; display: inline-block; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; }
.line .line__more-right { float: right; width: 130px; }
.line .line__more-right li { width: 100%; margin-bottom: 7px; *zoom: 1; }
.line .line__more-right li:after { content: " "; display: table; clear: both; }
.line .line__more-type .ico { float: left; margin-right: 7px; }
.line .line__more-text { text-transform: uppercase; font-family: arial; font-size: 9px; font-weight: bold; line-height: 14px; color: black; float: left; }

/*-----.warm----------------------------------------------------------- */
.warm { padding: 45px 0 45px; background-color: #edeae7; text-align: center; }
.warm .title-big { margin-bottom: 10px; }
.warm .title { margin-bottom: 35px; }
.warm .warm__text { padding: 0 200px; margin-bottom: 35px; }
.warm .warm__text p { text-align: center; font-size: 14px; line-height: 18px; margin-bottom: 20px; }
.warm .logo { margin-bottom: 25px; }

/*-----promo----------------------------------------------------------- */
.promo { padding: 95px 0 30px; background-color: #edeae7; background-image: url('../img/bg-3.jpg?1408306413'); text-align: center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.promo .title { margin-bottom: 230px; }
.promo .logo { margin-bottom: 20px; }

/*----tech------------------------------------------------------------ */
.tech { padding: 50px 0 90px; background-color: #edeae7; text-align: center; }
.tech .title { margin-bottom: 110px; }
.tech .tech__line { position: relative; margin-bottom: 55px; }
.tech .tech__line-text { position: absolute; top: -42px; font-size: 18px; line-height: 18px; }
.tech .tech__line-year { font-size: 28px; top: -45px; }
.tech .tech__line-text1 { left: 60px; }
.tech .tech__line-text2 { left: 233px; }
.tech .tech__line-text3 { left: 375px; }
.tech .tech__line-text4 { left: 500px; }
.tech .tech__line-text5 { left: 675px; }
.tech .tech__line-text6 { left: 815px; }
.tech .tech__line-text7 { left: 932px; }
.tech .tech__info { *zoom: 1; }
.tech .tech__info:after { content: " "; display: table; clear: both; }
.tech .tech__content { float: left; width: 70%; text-align: left; padding-left: 75px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.tech .tech__content-year { font-family: helv-b, Arial, Helvetica, sans-serif; position: relative; font-size: 18px; margin-bottom: 15px; padding-left: 20px; }
.tech .tech__content-year:after { position: absolute; content: ""; top: 8px; left: 2px; background-color: #ee2e24; height: 10px; width: 10px; display: inline-block; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.tech .tech__content-text { font-size: 14px; line-height: 18px; }
.tech .tech__man { float: right; height: 175px; width: 175px; margin-right: 80px; overflow: hidden; -webkit-border-radius: 88px; -moz-border-radius: 88px; -ms-border-radius: 88px; -o-border-radius: 88px; border-radius: 88px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*-----effect----------------------------------------------------------- */
.effect { padding: 60px 0 45px; text-align: center; }
.effect .title-big { margin-bottom: 5px; }
.effect .title { margin-bottom: 40px; }
.effect .effect__graph { margin-bottom: 10px; *zoom: 1; }
.effect .effect__graph:after { content: " "; display: table; clear: both; }
.effect .effect__graph-col { width: 50%; float: left; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.effect .effect__graph-contetn { min-height: 375px; }
.effect .effect__graph-text { font-size: 24px; }
.effect .effect__ico { margin-bottom: 25px; }
.effect .effect__text { font-size: 24px; line-height: 24px; padding: 0 150px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*------extreme---------------------------------------------------------- */
.extreme { padding: 60px 0 215px; background-color: #edeae7; background-image: url('../img/bg-4.jpg?1408306413'); text-align: center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.extreme .title-big { margin-bottom: 40px; }
.extreme .extreme-ico { margin-bottom: 15px; }
.extreme .extreme__content { font-size: 28px; line-height: 36px; padding: 0 150px; margin-bottom: 70px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.extreme .btn-watch { vertical-align: middle; margin: 0 10px; }
.extreme .extreme__content-link { font-size: 28px; line-height: 36px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.extreme .extreme__content-link:hover { text-decoration: underline; color: black; }

/*-----.important----------------------------------------------------------- */
.important { background-color: #ee2e24; height: 72px; line-height: 64px; text-align: center; font-size: 28px; }
.important .important__ico { margin-right: 25px; }

/*-----protect----------------------------------------------------------- */
.protect { padding: 60px 0 65px; background-color: #edeae7; }
.protect .container { width: 1160px; }
.protect .title-big { margin-bottom: 10px; }
.protect .title { margin-bottom: 60px; }
.protect .title-protect { margin-bottom: 25px; }
.protect .protect__test { *zoom: 1; }
.protect .protect__test:after { content: " "; display: table; clear: both; }
.protect .protect__test-small, .protect .protect__test-big { float: left; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.protect .protect__test-small { position: relative; width: 29%; padding: 15px 40px 0 25px; }
.protect .protect__test-big { width: 42%; }
.protect .protect__title { font-size: 36px; color: #ee2e24; margin-bottom: 220px; }
.protect .protect__title-small { font-size: 24px; margin-bottom: 25px; }
.protect .protect__text { font-size: 14px; line-height: 18px; }
.protect .ico { position: absolute; }
.protect .i-jeep { top: 115px; left: 20px; }
.protect .i-eleph { top: -10px; left: 110px; }
.protect .protect__test-last { padding-left: 105px; padding-right: 0; }
.protect .protect__test-last .protect__title { text-align: right; padding-right: 20px; }
.protect .protect__test-player { position: relative; margin-bottom: 25px; }
.protect .protect__test-video { position: relative; z-index: 7; }
.protect .protect__test-shadow { position: absolute; top: 0; left: 0; }
.protect .protect__test-info { *zoom: 1; }
.protect .protect__test-info:after { content: " "; display: table; clear: both; }
.protect .protect__test-info .protect__title { margin-bottom: 0; }
.protect .protect__test-left { float: left; width: 60%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.protect .protect__test-right { float: left; width: 40%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*-----advantage----------------------------------------------------------- */
.advantage { padding: 35px 0 45px; background-color: white; }
.advantage .title-big { margin-bottom: 10px; }
.advantage .title { margin-bottom: 10px; }
.advantage .advantage__content { display: table; table-layout: fixed; width: 90%; margin: 0 auto; }
.advantage .advantage__content-item { display: table-cell; height: 300px; text-align: center; padding: 50px 10px 0; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.advantage .ico-out { height: 150px; height: 115px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.advantage .advantage__content-title { margin-bottom: 15px; font-size: 24px; }
.advantage .advantage__content-text { font-size: 14px; line-height: 18px; }

/*-----homenocold----------- */
.homenocold .benef { padding: 60px 0 15px; }
.homenocold .benef .title { margin-bottom: 190px; }
.homenocold .benef .title-big { margin-bottom: 15px; }
.homenocold .business { width: 88%; margin: 0 auto; margin-bottom: 180px; }
.homenocold .business li { padding: 0 10px; }
.homenocold .business .ico { margin-bottom: 20px; }

/*-----business------------------------------------------------ */
.business { display: table; width: 100%; border-collapse: collapse; margin-bottom: 60px; table-layout: fixed; }
.business li { display: table-cell; text-align: center; }
.business .ico { margin-bottom: 35px; }
.business .business__text { font-size: 24px; line-height: 30px; }

/*-----social------------------------------------------------ */
.social { text-align: center; }
.social li { margin: 0 7px; display: inline-block; }
.social a { font-size: 12px; font-weight: bold; color: white; display: inline-block; background-color: #5b5a59; height: 27px; width: 65px; line-height: 27px; border: 1px solid #585857; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.social a:hover { border-color: white; }
.social .ico { margin-right: 10px; vertical-align: text-top; }
.social .social__info { font-size: 14px; line-height: 18px; text-align: left; margin-top: 5px; }

/*-----title------------------------------------------------ */
.title-big { color: #6c207f; font-size: 46px; text-align: center; }

.title { font-size: 28px; font-weight: normal; text-align: center; }

.title-small { text-align: center; font-size: 14px; line-height: 18px; font-weight: normal; }

/*-----logo------------------------------------------------ */
.logo { display: inline-block; float: left; width: 615px; height: 364px; font: 0/0 a; text-shadow: none; color: transparent; }
.logo img { width: 100%; height: 100%; }

.logo-small { float: none; height: 128px; width: 153px; text-align: center; margin-bottom: 20px; }

.logo-mod { float: none; height: 138px; width: 155px; }

/*-----service------------------------------------------------ */
.service { float: right; padding-top: 22px; width: 440px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.service li { margin-bottom: 25px; position: relative; padding-left: 70px; }
.service .ico-out { position: absolute; top: 0; left: 0; width: 60px; text-align: center; }

/*-----btn------------------------------------------------ */
.btn { display: inline-block; background-color: #ee2e24; height: 45px; line-height: 45px; padding: 0 35px; font-size: 14px; font-family: helv, Arial, Helvetica, sans-serif; position: relative; -webkit-border-radius: 23px; -moz-border-radius: 23px; -ms-border-radius: 23px; -o-border-radius: 23px; border-radius: 23px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn:hover { background-color: #f25b53; }
.btn:hover .btn__hidden { font-size: 26px; }
.btn .ico { margin-right: 13px; }

.btn-big { height: 52px; line-height: 52px; font-size: 26px; }

.btn-mod { border: 1px dotted white; font-family: helv, Arial, Helvetica, sans-serif; font-size: 28px; padding: 0 20px; color: #ece9e6; height: 52px; line-height: 34px; }
.btn-mod:hover { border: 1px solid white; }

.btn-light { background-color: white; border: 1px dotted #ee2e24; color: #ee2e24; height: 52px; line-height: 52px; padding: 0 25px; font-size: 28px; }
.btn-light:hover { background-color: #ee2e24; }

.btn__hidden { position: absolute; top: 0; left: 0px; color: white; width: 100%; font-size: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }

.btn-watch { display: inline-block; background: url('../img/icons-sa16fe7a808.png') 0 -2069px no-repeat; width: 83px; height: 83px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.btn-watch:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.btn-out { text-align: center; }

/*-----input------------------------------------------ */
.input { height: 52px; line-height: 18px; font-size: 14px; text-align: center; padding: 0 20px; min-width: 195px; margin-bottom: 25px; border: 1px dotted #ee2e24; color: #5c5c5c; -webkit-border-radius: 26px; -moz-border-radius: 26px; -ms-border-radius: 26px; -o-border-radius: 26px; border-radius: 26px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.input:-ms-input-placeholder { color: #5c5c5c; text-align: center; }
.input:-moz-placeholder { color: #5c5c5c; text-align: center; }
.input::-moz-placeholder { color: #5c5c5c; text-align: center; }
.input::-webkit-input-placeholder { color: #5c5c5c; text-align: center; }
.input::placeholder { color: #5c5c5c; text-align: center; }
.input:focus { border: 1px solid #ee2e24; }
.input:focus:-ms-input-placeholder { color: transparent; }
.input:focus:-moz-placeholder { color: transparent; }
.input:focus::-moz-placeholder { color: transparent; }
.input:focus::-webkit-input-placeholder { color: transparent; }
.input:focus::placeholder { color: transparent; }

/*-----gallery------------------------------------------------ */
.gallery .gallery__roll { margin-bottom: 35px; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.gallery .gallery__roll:after { content: " "; display: table; clear: both; }
.gallery .gallery__roll li { float: left; width: 32%; margin-left: 2%; }
.gallery .gallery__roll li:first-child { margin-left: 0; }
.gallery .gallery__roll .gallery__link { background-color: white; padding: 6px 6px 23px; display: block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.gallery .gallery__roll .gallery__link:hover img { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.gallery .gallery__roll .gallery__link:hover .gallery__info { top: 70px; }
.gallery .gallery__img { width: 100%; height: 187px; overflow: hidden; margin-bottom: 20px; position: relative; }
.gallery .gallery__img img { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.gallery .gallery__content { padding: 0 27px 0 13px; *zoom: 1; }
.gallery .gallery__content:after { content: " "; display: table; clear: both; }
.gallery .gallery__area { float: left; font-family: helv-b, Arial, Helvetica, sans-serif; font-size: 18px; padding-top: 7px; }
.gallery .gallery__price { float: right; font-size: 28px; line-height: 28px; }
.gallery .gallery__info { position: absolute; top: 200px; left: 0; width: 100%; text-align: center; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.gallery .gallery__number { font-family: helv-b, Arial, Helvetica, sans-serif; font-size: 18px; color: white; margin-bottom: 10px; }
.gallery .btn { margin-bottom: 35px; }

/*-----contact------------------------------------------------ */
.contact { text-align: center; }
.contact .contact__phone { font-family: helv-b, Arial, Helvetica, sans-serif; font-size: 18px; line-height: 24px; }
.contact .contact__adress, .contact .contact__mail { font-size: 14px; line-height: 18px; }
.contact .contact__mail, .contact .contact__phone { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.contact .contact__mail:hover, .contact .contact__phone:hover { text-decoration: underline; color: black; }

/*-----feedback------------------------------------------------ */
.feedback { margin-top: 75px; }

/*-----resume------------------------------------------------ */
.resume .resume__title { color: #ee2e24; font-size: 16px; line-height: 18px; position: relative; margin-bottom: 10px; }
.resume .resume__title:after { position: absolute; top: 3px; left: -22px; content: ""; display: inline-block; background-color: #ee2e24; height: 13px; width: 13px; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; }
.resume .resume__content { text-transform: uppercase; font-size: 9px; font-family: arial; font-weight: bold; line-height: 17px; color: black; }
