$default-transition-duration: 0.3s

$bg-c: #edeae7
$bg-other-c: #666
$label-c: #ee2e24
$title-c: #6c207f

$helv: helv, Arial, Helvetica, sans-serif
$helv-b: helv-b, Arial, Helvetica, sans-serif
$helv-l: helv-l, Arial, Helvetica, sans-serif

$header-h: 47px

a
	text-decoration: none	
body,a
	font-family: $helv-l
	font-size: 24px
	color: rgba(0,0,0,0.8)   		
.wrap
	width: 100%
	//min-width: 320px
	height: 100%
.container
	margin: 0 auto
	width: 1060px
	+box
		
	